*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    display: block;
    height: 100%;
}

.main{
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(giphy.webp);
    background-position: center;
    background-size: cover;
    background-blend-mode: saturation;
    background-repeat: no-repeat;
}


.cover-foto{
    width: 200px;
    height: 200px;
    background-image: url('https://mmc.tirto.id/image/2019/01/31/album-dewa-terbaik-terbaik-wikipedia.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    animation: rotation 5s infinite linear;
    margin-bottom: 10px;
    box-shadow: 0 0 20px royalblue;
}

.list-circle{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    border: 2px solid white;
}

audio{
    width: 80%;
    margin: 10px 0;
    outline: none;
}

.note{
    margin-bottom: -10px;
    font-size: 10px;
    text-align: center;
    line-height: 100%;
}

.daftar-lagu{
    width: auto;
    height: 100%;
    text-align: center;
    padding-top: 20px;
    background-color: #ddd;
}

.title{
    text-align: center;
    padding: 10px;
    background-color: royalblue;
    color: white;
    width: 200px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 50px;
}

.kotak{
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    width: auto;
    height: auto;
    border: 2px solid royalblue;
    margin: 0 10px;
    flex-wrap: wrap;
    border-radius: 13px;
    background-color: white;
}

.kotak a{
    text-decoration: none;
    color: royalblue;
}

@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}

@media screen and (min-width: 600px){
    body{
        display: none;
    }
}